@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

* {
    font-weight: 100;
}

body {
    font-family: 'Oxygen', 'Sans-Serif';
    background: linear-gradient(-45deg, #360c2c, #141e31, #221a3a, #310c18);
    background-size: 400%, 400%;
    animation: gradientBackground 15s ease infinite;
}

.wrapper {
    padding-bottom: 220px;
}


@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen {
    #footer {
        height: 180px;
    }
    
    .mainbody {
        color: white;
    }
    
    .mainbody {
        width: 50%;
        left: 20px;
        position: relative;
        /* border-style: solid;
        border-color: white;
        border-width: 2px; */
        margin-top: 170px;
        margin-left: 40px;
        line-height: 2em;
        padding-left: 30px;
    }
    
    .content1 {
        opacity: 0%;
        animation: slideInfo 1s ease forwards;
    }
    
    .content2 {
        opacity: 0%;
        margin-top: 100px;
        animation: slideInfo 1s ease forwards;
        animation-delay: 0.2s;
    }
    
    .content3 {
        opacity: 0%;
        margin-top: 100px;
        animation: slideInfo 1s ease forwards;
        animation-delay: 0.4s;
    }
}

@media screen and (max-width: 1000px) {
    #footer {
        height: 100px;
    }
    
    .mainbody {
        color: white;
    }
    
    .mainbody {
        width: 70%;
        left: 10px;
        position: relative;
        /* border-style: solid;
        border-color: white;
        border-width: 2px; */
        margin-top: 170px;
        margin-left: 40px;
        line-height: 2em;
        padding-left: 30px;
    }
    
    .content1 {
        opacity: 0%;
        animation: slideInfo 1s ease forwards;
    }
    
    .content2 {
        opacity: 0%;
        margin-top: 100px;
        animation: slideInfo 1s ease forwards;
        animation-delay: 0.2s;
    }
    
    .content3 {
        opacity: 0%;
        margin-top: 100px;
        animation: slideInfo 1s ease forwards;
        animation-delay: 0.4s;
    }
}

@media screen and (max-width: 600px) {
    #footer {
        height: 180px;
    }
    
    .mainbody {
        color: white;
    }
    
    .mainbody {
        width: 70%;
        left: 10px;
        position: relative;
        /* border-style: solid;
        border-color: white;
        border-width: 2px; */
        margin-top: 170px;
        margin-left: 40px;
        line-height: 2em;
        padding-left: 30px;
    }
    
    .content1 {
        opacity: 0%;
        animation: slideInfo 1s ease forwards;
    }
    
    .content2 {
        opacity: 0%;
        margin-top: 100px;
        animation: slideInfo 1s ease forwards;
        animation-delay: 0.2s;
    }
    
    .content3 {
        opacity: 0%;
        margin-top: 100px;
        animation: slideInfo 1s ease forwards;
        animation-delay: 0.4s;
    }
}

@media screen and (max-width: 400px) {
    #footer {
        height: 180px;
    }
    
    .mainbody {
        color: white;
    }
    
    .mainbody {
        font-size: 14px;
        width: 70%;
        left: 10px;
        position: relative;
        /* border-style: solid;
        border-color: white;
        border-width: 2px; */
        margin-top: 170px;
        margin-left: 40px;
        line-height: 2em;
        padding-left: 30px;
    }
    
    .content1 {
        opacity: 0%;
        animation: slideInfo 1s ease forwards;
    }
    
    .content2 {
        opacity: 0%;
        margin-top: 100px;
        animation: slideInfo 1s ease forwards;
        animation-delay: 0.2s;
    }
    
    .content3 {
        opacity: 0%;
        margin-top: 100px;
        animation: slideInfo 1s ease forwards;
        animation-delay: 0.4s;
    }
}

@media screen and (min-width: 200px) {
    
}

@media screen and (min-width: 0px) {
    
}



@keyframes slideInfo {
    from {
        transform: translateX(-20%);
        opacity: 0%;
    }
    to {
        transform: translateX(0%);
        opacity: 100%;
    }
}
